body{background-color:#131313;}

.title1{
    font-size: 8vh;
    font-weight: bolder;
    text-align: center;
    color:#e5af00;
}

.midashi1{
    font-size: 2vw;
    text-align: center;
}

.start{
    text-align: center;
}

.startpage{
    font-size: 10px;
    color:white;
}

.iro {
    color:#1100ff;
}

.iro1 {
    color:#ff0000;
}

.break{
    padding-top: 6px;
    padding-bottom: 6px;
}

.break1{
    padding-bottom: 6px;
}

