body{
    background-color:#131313;
}

.result{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

.last{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result0, div#result1, div#result2, div#result3, div#result4, div#result5, div#result6, div#result7, div#result8, div#result9, div#result10{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

.return0, .return1, .return2, .return3, .return4, .return5, .return6, .return7, .return8, .return9, .return10{
    text-align: center;
}
