body{
    background-color:#525252;
}

.result{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

.last{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result0{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result4{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result5{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result6{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result7{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result8{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result9{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}

div#result10{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e5af00;
}